.book-card {
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.inline-card {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.book-image {
    width: 125px;
    padding-left: 2rem;
}

.left-card {
    width: 100%;
}

#update-btn, #delete-btn {
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
}