.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-box {
    background: #fff;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Actions */
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}

.modal-actions > button {
    width: 100%;
}

.modal-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.left-form-card, .right-form-card {
    display: flex;
    gap: 0.5rem;
}

.left-form-card > input, .right-form-card > input {
    width: 100%;
}

#description-form {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 14px;
    line-height: 1.4;
    outline: none;
    transition: 0.2s ease;
}

#cancel-btn, #save-btn {
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 5px;
}

#cancel-btn {
    background-color: red;
    color: white;
}

#save-btn {
    background-color: green;
}