header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

main {
    margin-top: 3rem;
    width: 100%;
}

.book-container {
    background-color: rgb(16, 12, 12);
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 65%;
    margin: 0 auto;
}

.button-container {
    margin: 0 auto 1rem auto;
    justify-content: center;
    text-align: center;
}

#add-btn {
    width: 50%;
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: white;
}

#add-btn:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}