body {
    background-color: rgb(23, 21, 21);
    padding: 1rem;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}